@model BrnMall.Web.Models.WithdrawalLogModel
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "申请提现-" + WorkContext.MallConfig.SiteTitle;
}
@section headerSection{
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/ucenter.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    }

<div class="bigBox" id="member">
<div class="box">
<div id="memberL">
<h2>个人中心</h2>
<ul id="memberNav">
    <li><a href="@Url.Action("userinfo")"><s>&gt;</s>账户信息</a></li>
    <li><a href="@Url.Action("safeinfo")"><s>&gt;</s>账户安全</a></li>
    <li><a href="@Url.Action("orderlist")"><s>&gt;</s>我的订单</a></li>
    <li><a href="@Url.Action("shipaddresslist")"><s>&gt;</s>收货地址</a></li>
    <li><a href="@Url.Action("favoriteproductlist")"><s>&gt;</s>收藏商品</a></li>
    <li><a href="@Url.Action("favoritestorelist")"><s>&gt;</s>收藏店铺</a></li>
    <li><a href="@Url.Action("paycreditloglist")" class="hot"><s>&gt;</s>我的资产</a></li>
    @*<li><a href="@Url.Action("couponlist")"><s>&gt;</s>优惠劵</a></li>*@
    <li><a href="@Url.Action("introducers")"><s>&gt;</s>介绍人关系</a></li>
    <li><a href="@Url.Action("productconsultlist")"><s>&gt;</s>购买咨询</a></li>
    <li><a href="@Url.Action("productreviewlist")"><s>&gt;</s>商品评价</a></li>
 @*   @if (WorkContext.PartUserInfo.StoreId < 2 || (WorkContext.StoreInfo != null && (WorkContext.StoreInfo.State == (int)StoreState.Applying || WorkContext.StoreInfo.State == (int)StoreState.ApplyFail)))
    {
    <li><a href="@Url.Action("storeapplystep1")"><s>&gt;</s>申请开店</a></li>
    }*@
</ul>

</div>
<div id="memberR">
    <h2 id="memberRT">提现申请</h2>
    @using (Html.BeginForm())
{
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="memberTable">
        <tr>
            <th width="100" align="right">*提现金额：</th>
            <td>
             @Html.TextBoxFor(m=>m.ApplyAmount, new { @class = "text", @style="width:100px" }) 元 &nbsp;&nbsp;&nbsp;可提现金额为：<font color="#e4393c">@WorkContext.UserAmount</font>元
              <span class="tip">@Html.ValidationMessageFor(x => x.ApplyAmount)</span>
              
            </td>
          </tr>
          <tr>
            <th width="100" align="right">*提现方式：</th>
            <td>
            @Html.DropDownListFor(x => x.PayType, ViewData["WithdrawalType"] as List<SelectListItem>) <span class="tip">@Html.ValidationMessageFor(x => x.PayType)</span>
              
            </td>
          </tr>
          <tr>
            <th width="100" align="right">*账号：</th>
            <td>
                 @Html.TextBoxFor(m => m.PayAccount, new { @class = "text", @style = "width:300px" }) <span class="tip">@Html.ValidationMessageFor(x => x.PayAccount)</span>
            </td>
          </tr>
          <tr>
            <th width="100" align="right">*账号信息：</th>
            <td>
                 @Html.TextAreaFor(m => m.ApplyRemark, new { @class = "textarea", cols = "50", rows = "4" })  <span class="tip">@Html.ValidationMessageFor(x => x.ApplyRemark)</span>
                 <br />1、银行卡提现，请填写姓名、所属银行及开通银行网点。2、支付宝提现，请填写真实姓名
            </td>
          </tr>
           <tr>
            <th width="100" align="right">*联系方式：</th>
            <td>
                 @Html.TextBoxFor(m => m.Phone, new { @class = "text", @style = "width:200px" }) <span class="tip">@Html.ValidationMessageFor(x => x.Phone)</span>
            </td>
          </tr>
          <tr>
            <th width="100" align="right">&nbsp;</th>
            <td><a href="#" class="greenBT" style="font-size:14px; padding:3px 20px;"id="sumbitBut">提交</a>
            <br />注意：请认真根据提示填写申请信息，这将直接影响到审核结果！
                    <script type="text/javascript">
                        $(function () {
                            $("#sumbitBut").click(function () {
                                $("form:first").submit();
                                return false;
                            })
                        });
            </script>
            </td>
          </tr>
        </table>
    }
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
