@model BrnMall.Web.Models.WithdrawalLogListModel
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "我的提现记录-" + WorkContext.MallConfig.SiteTitle;
}
@section headerSection{
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/ucenter.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/ucenter.user.js" type="text/javascript"></script>
}
<div class="bigBox" id="member">
    <div class="box">
        <div id="memberL">
            <h2>
                个人中心</h2>
            <ul id="memberNav">
                <li><a href="@Url.Action("userinfo")"><s>&gt;</s>账户信息</a></li>
                <li><a href="@Url.Action("safeinfo")"><s>&gt;</s>账户安全</a></li>
                <li><a href="@Url.Action("orderlist")"><s>&gt;</s>我的订单</a></li>
                <li><a href="@Url.Action("shipaddresslist")"><s>&gt;</s>收货地址</a></li>
                <li><a href="@Url.Action("favoriteproductlist")"><s>&gt;</s>收藏商品</a></li>
                <li><a href="@Url.Action("favoritestorelist")"><s>&gt;</s>收藏店铺</a></li>
                <li><a href="@Url.Action("paycreditloglist")" class="hot"><s>&gt;</s>我的资产</a></li>
                @*<li><a href="@Url.Action("couponlist")"><s>&gt;</s>优惠劵</a></li>*@
                <li><a href="@Url.Action("introducers")"><s>&gt;</s>介绍关系</a></li>
                <li><a href="@Url.Action("productconsultlist")"><s>&gt;</s>购买咨询</a></li>
                <li><a href="@Url.Action("productreviewlist")"><s>&gt;</s>商品评价</a></li>
            </ul>
        </div>
        <div id="memberR" style="padding-bottom: 0px;">
            <h2 id="memberRT">
                <strong>我的提现申请</strong>
            </h2>
            @if (Model.WithdrawalLogList.Count() > 0)
            {
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb-void">
                    <thead>
                        <tr>
                            <th>
                                提现金额
                            </th>
                            <th>
                                申请状态
                            </th>
                            <th>
                                账号
                            </th>
                            <th>
                                申请时间
                            </th>
                              <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WithdrawalLogInfo info in Model.WithdrawalLogList)
                        {
                            <tr>
                                <td>@info.ApplyAmount
                                </td>
                                <td>
                                @switch (info.State)
                                {
                                    case (int)WithdrawalState.applying:
                                    @:审核中
                                        break;
                                        case (int)WithdrawalState.nopass:
                                        @:不通过
                                        break;
                                         case (int)WithdrawalState.pass:
                                        @:已通过
                                        break;
                                }
                                </td>
                                <td align="left">
                                 @switch (info.PayType)
                                 { 
                                     case (int)WithdrawalType.Alipay:
                                         @:支付宝：
                                         break;
                                         case (int)WithdrawalType.BankCard:
                                         @:银行卡：
                                         break;
                                 }
                                @info.PayAccount <br />
                                @info.ApplyRemark
                                </td>
                                <td>@info.ApplyTime.ToString("yyyy-MM-dd HH:mm:ss")
                                </td>
                                <td>
                                @if(info.State== (int)WithdrawalState.nopass)
                                {
                                    @:原因：@info.Reason 
                                    <br /> @info.OperatTime.ToString("yyyy-MM-dd HH:mm:ss")
                                }
                                else if(info.State== (int)WithdrawalState.pass)
                                {
                                    @:支付单号：@info.Reason
                                     <br /> @info.OperatTime.ToString("yyyy-MM-dd HH:mm:ss")
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.WebPager(Model.PageModel).ShowSummary(false)
            }
            else
            { 
            @:暂无申请提现记录。
            }
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
