@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "首页 -"+ WorkContext.StoreInfo.Name + "-" + WorkContext.MallConfig.SiteTitle;
    var bestlist=Products.GetStoreTraitProductList(20, WorkContext.StoreInfo.StoreId, 0, 0);
    var hotlist = Products.GetStoreTraitProductList(20, WorkContext.StoreInfo.StoreId, 0, 1);
    var newlist = Products.GetStoreTraitProductList(20, WorkContext.StoreInfo.StoreId, 0, 2);
}
@section headerSection{
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/list.css" rel="stylesheet" type="text/css" />
    }

@if (WorkContext.StoreInfo.Banner.Length > 0)
{
<div id="DPbanner" style="zoom:1; text-align:center; overflow:hidden;">
<a href="javascript:void(0)"><img src="@{@WorkContext.ImageCDN}/upload/store/@WorkContext.StoreId/banner/@WorkContext.StoreInfo.Banner" width="1920" height="250" /></a>
</div>
<script type="text/javascript">
    var storeBanner = document.getElementById("DPbanner");
    var bannerImg = storeBanner.getElementsByTagName("img")[0];
    var bodyW = document.body.offsetWidth;
    var imgW = bannerImg.offsetWidth;
    var imgH = bannerImg.offsetHeight;

    if (bodyW <= imgW) {
        storeBanner.style.width = bodyW + "px";
        storeBanner.style.height = imgH + "px";
        var aTag = storeBanner.getElementsByTagName("a")[0];
        aTag.style.position = "absolute";
        aTag.style.left = (-(imgW - bodyW) / 2) + "px";
    }
</script>
}

@{
    List<StoreClassInfo> storeClassList = Stores.GetStoreClassList(WorkContext.StoreId);
    }

<div class="box1210" id="DP">
<div id="listL">

<div id="DPserach">
<div class="DPtitle">本店搜索</div>
<div style="padding:0 10px 0 5px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right">关键字</td>
    <td colspan="2"><input type="text" id="storeSearchKeyword" class="text" style="width:120px" /></td>
    </tr>
  <tr>
    <td align="right">价格</td>
    <td><input type="text" id="startPrice" class="text" style="width:30px; background:url(@{@WorkContext.ImageCDN}/images/m.jpg) no-repeat 3px center #FFF; padding-left:15px;" value="" /></td>
    <td><input type="text" id="endPrice" class="text" style="width:30px; background:url(@{@WorkContext.ImageCDN}/images/m.jpg) no-repeat 3px center #FFF; padding-left:15px;" value="" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan="2"><a href="javascript:void(0)" onclick="storeSearch(@WorkContext.StoreId, document.getElementById('storeSearchKeyword').value,0,document.getElementById('startPrice').value,document.getElementById('endPrice').value)" class="grayBT">搜索</a></td>
    </tr>
</table></div>
</div>

<div id="sortlist" class="m">
  <div class="mc">
  <div class="item hot"><h3><b></b>店铺分类</h3><ul>
  <li><a href="@Url.Action("search", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", 0 } })">全部商品</a></li>
    @foreach (StoreClassInfo info in storeClassList)
    {
      @:<li><a href="@Url.Action("class", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", info.StoreCid } })">@info.Name</a></li>
    }
    </ul></div>
  </div>
</div>

</div>

<div id="listR">

<div class="proList">
<div class="DPtitle">店铺推荐@*<a href="#" class="more">更多</a>*@</div>
<ul>
      @foreach (PartProductInfo info in bestlist)
      {
        <li><a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", info.Pid } })"><img src="@{@WorkContext.ImageCDN}/upload/store/@info.StoreId/product/show/thumb230_230/@info.ShowImg"  onerror="nofindimg()" width="223px"  height="223px" /><em>@info.Name</em></a><b>¥@info.ShopPrice</b>
        <div class="info"><div class="star"><span class="star_yellow" style=" width:@Html.Raw((info.GetStarLevel() * 20).ToString())%;">&nbsp;</span></div>
        <a href="#"> 已有 @info.ReviewCount 人评价</a> </div>
        <div class="info2"><span onclick="addProductToFavorite(@info.Pid)">加入收藏</span><a href="javascript:addProductToCart(@info.Pid, 1)" class="addShopping">加入购物车</a></div>
        </li>
      }
<div class="clear"></div>
</ul>
</div>

<div class="proList">
<div class="DPtitle">店铺热销@*<a href="#" class="more">更多</a>*@</div>
<ul>
      @foreach (PartProductInfo info in hotlist)
      {
        <li><a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", info.Pid } })"><img src="@{@WorkContext.ImageCDN}/upload/store/@info.StoreId/product/show/thumb230_230/@info.ShowImg" onerror="nofindimg()" width="223px"  height="223px" /><em>@info.Name</em></a><b>¥@info.ShopPrice</b>
        <div class="info"><div class="star"><span class="star_yellow" style=" width:@Html.Raw((info.GetStarLevel() * 20).ToString())%;">&nbsp;</span></div>
        <a href="#"> 已有 @info.ReviewCount 人评价</a> </div>
        <div class="info2"><span onclick="addProductToFavorite(@info.Pid)">加入收藏</span><a href="javascript:addProductToCart(@info.Pid, 1)" class="addShopping">加入购物车</a></div>
        </li>
      }
<div class="clear"></div>
</ul>
</div>

<div class="proList">
<div class="DPtitle">店铺新品@*<a href="#" class="more">更多</a>*@</div>
<ul>
      @foreach (PartProductInfo info in newlist)
      {
        <li><a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", info.Pid } })"><img src="@{@WorkContext.ImageCDN}/upload/store/@info.StoreId/product/show/thumb230_230/@info.ShowImg" onerror="nofindimg()" width="223px"  height="223px" /><em>@info.Name</em></a><b>¥@info.ShopPrice</b>
        <div class="info"><div class="star"><span class="star_yellow" style=" width:@Html.Raw((info.GetStarLevel() * 20).ToString())%;">&nbsp;</span></div>
        <a href="#"> 已有 @info.ReviewCount 人评价</a> </div>
        <div class="info2"><span onclick="addProductToFavorite(@info.Pid)">加入收藏</span><a href="javascript:addProductToCart(@info.Pid, 1)" class="addShopping">加入购物车</a></div>
        </li>
      }
<div class="clear"></div>
</ul>
</div>

</div>
<div class="clear"></div>
</div>
