@model BrnMall.Web.Models.SelectFindPwdTypeModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选择找回方式-@{@WorkContext.MallConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/account.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/account.js?v=1" type="text/javascript"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.unobtrusive.js"></script>
       <script type="text/javascript">
        function startTimer(totalTime){
        var itv= null;
        itv= setInterval(function(){
            totalTime--;
            $('#btnGetPhone').val("倒计时"+totalTime);
            if( totalTime<=0 ) {
                clearInterval(itv); itv= null;
                $('#btnGetPhone').removeAttr("disabled");
                $('#btnGetPhone').val("再次发送");
            }
        }, 1000);
    }
    $(function () {
    var phonenum='@Model.PartUserInfo.UserName';
        $("#btnGetPhone").click(function () {
            var phone = phonenum;
            if (!phone) {
                Showbo.Msg.alert("请输入用户名");
                return false;
            }
            var url = "@Url.Action("GetPhoneVerifyCode", "Account")";
            $.post(url, { phoneNumber: phonenum,type:1 },
                function (data) {
                    if (data == "succ") {
                        $('#btnGetPhone').attr("disabled","disabled");
                        startTimer(10);
                        $('#btnGetPhone').val("发送成功，再次发送");
                    }
                    else if (data == "failed") {
                        $('#btnGetPhone').attr("disabled", "disabled");
                        $('#btnGetPhone').val("发送不成功，再次发送");
                        startTimer(1);
                    }
                    else {
                        Showbo.Msg.alert(data);
                        $('#btnGetPhone').attr("disabled", "disabled");
                        startTimer(0);
                    }
                }, null);
        });
    });
    </script>
</head>

<body>

<div id="loginTop" class="box">
    <a href="/" class="left"><img src="@{@WorkContext.ImageCDN}/images/logo.png" width="130" height="42" /></a>
    <h2>选择找回方式</h2>
    <div class="clear"></div>
</div>

<div class="findPassword box">
<div class="step">
<ul>
    <li><s>1</s>验证身份</li>
    <li class="hot"><s>2</s>选择找回方式</li>
    <li><s>4</s>设置新密码</li>
    <li><s>4</s>完成</li>
    <div class="clear"></div>
</ul>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="190"><em>*</em>已验证手机：</th>
    <td width="275"><font size="+1" style="font-weight:bold;">@Html.Raw(CommonHelper.HideMobile(Model.PartUserInfo.Mobile))</font> &nbsp;&nbsp;&nbsp; <input type="button" class="grayBT" style=" height:40px;" id="btnGetPhone" value="发送验证短信" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><em>*</em>请填写手机校验码：</th>
    <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr>
              <td><input type="text" id="moibleCode" value="" class="YZM text" />&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0)" class="grayBT" style="padding:12px 20px;" onclick="verifyFindPwdMobile(@Model.PartUserInfo.Uid, document.getElementById('moibleCode').value)">验证</a>
                <div id="error_tip" style=" width:100%; color:Red; display:none"></div>
              </td>   
           </tr>
        </table>
    </td>
    </tr>
</table>
</div>


<div id="footer" class="bigBox">
  <div class="box">

    @{
        int flag = 1;
        foreach (HelpInfo info in WorkContext.HelpList)
        {
            if (info.Pid != 0)
            {
                if (info.Url.Length == 0)
                {
            <a href="@Url.Action("question", "help", new RouteValueDictionary { { "id", info.Id } })">@info.Title</a>
                }
                else
                {
            <a href="@info.Url">@info.Title</a>
                }
            }
            else
            {
                if (flag != 1)
                {
                @:</div>
            }
            @:<div class="footerBox"><h3>@info.Title</h3>
            flag++;
            }
        }
        if (WorkContext.HelpList.Count > 0)
        {
        @:</div>
    }
    }

  <div class="clear"></div>
  </div>
</div>
@Html.Raw(WorkContext.MallConfig.Script)
</body>
</html>